body {
  margin: 0;
  padding: 0;
  background: #f7f8fa; }

header {
  position: fixed;
  top: 0; }

.page {
  margin: 50px auto auto;
  display: flex;
  flex-flow: row;
  width: 1000px;
  min-height: 100%; }
  .page .left {
    flex: 1 1 auto; }
  .page .right {
    flex: 0 0 300px;
    padding-left: 10px; }
    .page .right #categories {
      position: fixed;
      top: 50px;
      width: 290px;
      margin-top: 15px;
      background-color: white;
      border: 1px solid #e7eaf1;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
      height: 400px;
      padding: 10px 0; }
      .page .right #categories > div {
        padding: 0 25px;
        height: 40px;
        line-height: 40px;
        color: #8590a6; }
      .page .right #categories > div:hover {
        cursor: pointer;
        background-color: #f6f6fa; }

.article {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-flow: column;
  border: 1px solid #e7eaf1;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
  margin-top: 15px;
  padding: 16px 20px; }
  .article .topics {
    flex: 0 0 30px; }
    .article .topics .topic {
      display: inline-block;
      background-color: #eef4fa;
      height: 26px;
      line-height: 26px;
      border-radius: 13px;
      font-size: 13px;
      padding: 0 10px;
      color: #3e7ac2;
      margin-right: 10px; }
    .article .topics .topic:hover {
      cursor: pointer; }
  .article .title {
    flex: 0 0 30px;
    line-height: 30px; }
    .article .title a {
      color: black;
      font-size: 20px;
      font-weight: 700; }
    .article .title a:hover {
      color: #0055aa; }
  .article .content {
    flex: 0 0 auto;
    height: auto;
    margin: 10px 0;
    color: #262626;
    line-height: 1.67; }
  .article .details {
    flex: 0 0 20px;
    display: flex;
    flex-flow: row; }
    .article .details .category {
      flex: 0 1 auto;
      height: 18px;
      line-height: 18px;
      border: solid 1px #3a90f2;
      border-radius: 3px;
      padding: 0 10px;
      color: #3a90f2;
      font-size: 13px; }
    .article .details .category:hover {
      cursor: pointer; }
    .article .details ul {
      flex: 1 1 auto; }
      .article .details ul li {
        color: #8590a6;
        display: flex;
        flex-flow: row;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        margin-left: 15px; }
        .article .details ul li i {
          color: #8590a6;
          flex: 0 0 30px;
          width: 30px;
          line-height: 20px;
          text-align: center; }
        .article .details ul li span {
          flex: 1 1 auto;
          line-height: 20px; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    margin: 20px auto; }
    .pagination ul li {
      margin: 0 5px;
      border: 1px solid #e7eaf1;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
      height: 30px;
      line-height: 30px;
      width: 40px;
      background-color: white;
      text-align: center; }
      .pagination ul li i {
        line-height: 30px;
        font-size: 20px; }

footer {
  height: 200px;
  background-color: white;
  position: relative; }
  footer .info {
    width: 100%;
    text-align: center;
    color: #888888;
    font-size: 13px;
    position: absolute;
    bottom: 10px; }

/*# sourceMappingURL=index.css.map */
