<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="pagination">
    <ul class="ul-left">
        <li class="first-page" x-on:click="first"><i class="fa fa-angle-double-left"></i></li>
        <li class="prev-page" x-on:click="prev"><i class="fa fa-angle-left"></i></li>
        <li class="current-page" x-on:click="current">{{ current }}</li>
        <li class="next-page" x-on:click="next"><i class="fa fa-angle-right"></i></li>
        <li class="last-page" x-on:click="last"><i class="fa fa-angle-double-right"></i></li>
    </ul>
</div>
</body>
</html>