/*///////////////////////////// 标题 /////////////////////////*/
.title-box {
    padding: 0 60px;
    border-top: #aaaaaa 1px solid;

    display: flex;
    flex-flow: row;

    /* 输入 */
    #title-input {
        display: block;
        flex: 1 1 auto;

        border: none;
        outline: none;
        margin: 0;
        padding: 0;

        width: 100%;
        height: 49px;

        font-family: Consolas, 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 20px;

        line-height: 50px;
    }

    div {
        flex: 0 0 100px;

        button {
            margin: 10px;
            height: 30px;
            width: 75px;
        }
    }
}

#editor {
    position: absolute;
    top: 50px;
    width: 100%;
    bottom: 0;
}



// 提交文章时的设置
.article-details-background {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .article-details {
        width: 650px;
        overflow: auto;

        margin: 200px auto auto;
        background-color: white;

        .title {
            height: 50px;
            line-height: 50px;
            text-align: center;

            background-color: #eeeeee;
            font-size: 18px;
        }

        .input-bar {
            display: flex;
            flex-flow: row;
            margin: 20px 20px;
            .topics-bar, select {
                flex: 1 1 auto;
                outline: none;
                padding: 0;
                border: solid 1px #dddddd;
            }
            .topics-bar {
                display: flex;
                flex-flow: row;

                .add-topics {
                    flex: 0 1 auto;
                }

                input{
                    flex: 1 1 auto;
                    outline: none;
                    border: none;
                    padding: 0 10px;
                }

            }

        }

        .input-bar >div{
            flex: 0 0 85px;
            height: 35px;
            line-height: 35px;
        }


    }
}

.topic-cell {
    background-color: #eff6fa;
    font-size: 13px;
    border-radius: 12px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    color: #3a90f2;
    margin: 0 5px;
}
.topic-cell:hover {
    cursor: pointer;
}
.topic-cell span:first-child {
}

.topic-cell span:last-child {
    margin-left: 10px;

}

.article-details button {
    float: right;
    margin-right: 20px;
    height: 35px;
    width: 100px;

    margin-bottom: 10px;
}