@charset "utf-8";
@import "../component/widget.scss";

.template {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}
/*///////////////////////// -- button -- ///////////////////////*/
.button {
    border: none;
    outline: none;

    background-color: #00AAAA;

    color: white;
}

.button:hover {
    background-color: #00b0e8;
    cursor: pointer;
}
/*///////////////////////// -- button -- ///////////////////////*/
.ul-left {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.ul-left li {
    display: inline-block;
    float: left;
}

.ul-left li:hover {
    cursor: pointer;
}


.ul-right {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.ul-right li {
    display: inline-block;
    float: right;
}

.ul-right li:hover {
    cursor: pointer;
}

/*///////////////////////// -- hr -- ///////////////////////*/
.hr {
    border: none;
    border-top: #cccccc 1px solid;
}

/*///////////////////////// -- a -- ///////////////////////*/
.a {
    text-decoration: none;
}


/*///////////////////////// -- a -- ///////////////////////*/
.input {
    display: block;

    margin: 15px auto;
    font-size: 16px;
    background-color: #eeeeee;
    border: none;
    outline: none;
    padding: 15px 20px;
}


/*///////////////////////// -- message -- ///////////////////////*/
.message-window {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);


    .message-box {
        width: 400px;
        margin: auto;
        background-color: white;

        box-shadow: 0 0 5px 2px #666666;


        .message-box-title {
            padding: 10px 25px;
            font-size: 18px;
            text-align: center;
            border-bottom: #aaaaaa 1px solid;
            background-color: #cccccc;
        }

        .message {
            padding: 15px 25px;
            min-height: 75px;
        }


        .message-ok-button-box {
            margin: 15px 0;

            .message-ok-button {
                float: right;
                margin: 0 25px 15px 0;
                height: 30px;
                width: 75px;
            }

        }

        .message-ok-button-box:after {
            height: 0;
            visibility: hidden;
            content: ".";
            clear: both;
            display: block;
        }
    }
}



/*///////////////////////// -- 自定义滚动条 -- ///////////////////////*/
::-webkit-scrollbar {
    width: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 2px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}
