@charset "UTF-8";
body {
  background-color: #eeeeee; }

.primary-nav {
  position: fixed;
  top: 0;
  left: 0; }

.page {
  width: 960px !important;
  margin: 75px auto 25px;
  padding: 50px 0;
  box-shadow: 0 0 15px 5px #aaaaaa;
  background-color: white; }

.article .title {
  text-align: center;
  font-size: 27px;
  border-left: 5px #00b0e8 solid;
  border-right: 5px #00b0e8 solid; }

.article .article-details {
  margin: 15px auto;
  text-align: center;
  font-size: 13px; }

.article .title:hover {
  color: #00AAAA; }

.article .content {
  margin: 25px 75px; }

/*///////////////////////// -- 版权 -- ///////////////////////*/
.article-copyright {
  width: 100%;
  height: 25px;
  border-bottom: #eeeeee 1px solid; }

.article-copyright-content {
  display: inline-block;
  float: right;
  margin-right: 75px;
  font-size: 12px;
  color: #888888; }

/*//////////////////////// -- 文章的评论 -- ///////////////////////*/
.article-review {
  background-color: white;
  padding: 50px 75px; }

.article-review-box {
  border: #aaaaaa 1px solid;
  padding: 10px 15px;
  border-radius: 5px; }
  .article-review-box .review-content {
    width: 100%;
    min-height: 100px;
    outline: none;
    border: none;
    font-family: '微软雅黑', serif;
    resize: none;
    /*取消拖动*/ }
  .article-review-box .submit-box {
    height: 45px; }
    .article-review-box .submit-box button {
      float: right;
      margin: 5px auto;
      outline: none;
      height: 35px;
      width: 85px;
      border-radius: 5px;
      border: 1px solid #00b0e8;
      background-color: white;
      color: #00b0e8; }
    .article-review-box .submit-box button:hover {
      background-color: #00b0e8;
      color: white;
      cursor: pointer; }

/*//////////////////////// -- 展示评论 -- ///////////////////////*/
.review-number {
  margin: 10px 75px; }

.display-review {
  padding: 0px 75px 50px 75px; }
  .display-review .review-list .review {
    border-bottom: #cccccc 1px solid;
    padding-bottom: 10px; }
    .display-review .review-list .review .primary-review .user-info {
      margin: 15px 0;
      display: flex;
      flex-flow: row; }
      .display-review .review-list .review .primary-review .user-info .user-avatar {
        flex: 0 0 45px;
        height: 45px; }
        .display-review .review-list .review .primary-review .user-info .user-avatar img {
          height: 44px;
          width: 44px;
          border-radius: 50%;
          border: solid 1px #F0F0F0; }
      .display-review .review-list .review .primary-review .user-info .details {
        flex: 1 1 auto;
        padding-left: 10px; }
        .display-review .review-list .review .primary-review .user-info .details .review-info {
          font-size: 13px;
          color: #888888; }
    .display-review .review-list .review .primary-review .content {
      margin: 10px 35px; }
    .display-review .review-list .review .primary-review .primary-operation ul {
      overflow: hidden;
      margin-bottom: 5px; }
    .display-review .review-list .review .primary-review .primary-operation ul li {
      font-size: 13px;
      color: #888888;
      margin: 0 35px; }

/*//////////////////////// -- 二级评论 -- ///////////////////////*/
.secondary-review {
  margin-left: 50px;
  padding: 5px 25px;
  border-left: #00b0e8 5px solid; }

.secondary-operation ul {
  overflow: auto; }

.secondary-operation ul li {
  font-size: 12px;
  color: #888888;
  padding: 0;
  margin: 5px 15px 5px 0; }

.login-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 99999; }

.login-form {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25); }

.reply-background {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65); }
  .reply-background .article-review {
    margin: 100px auto auto;
    width: 50%;
    padding: 25px; }
    .reply-background .article-review .at {
      margin: 10px 0; }
      .reply-background .article-review .at span {
        padding: 0 5px;
        cursor: pointer; }
      .reply-background .article-review .at #at_name {
        color: #00b0e8; }

/*# sourceMappingURL=article.css.map */
