body {
  margin: 0;
  padding: 0;
  background: #f7f8fa; }

header {
  position: fixed;
  top: 0; }

.page {
  margin: 75px auto auto;
  width: 1000px;
  min-height: 100%; }
  .page .header {
    border-bottom: 1px solid #3a90f2;
    height: 45px;
    overflow: visible !important;
    display: block; }
    .page .header li {
      background-color: #f3f3f3;
      text-align: center;
      line-height: 46px;
      width: 125px;
      height: 46px;
      box-sizing: border-box;
      border-top: 3px solid wheat;
      border-bottom: 1px solid #3a90f2; }
    .page .header .selected {
      color: #3a90f2;
      background-color: #f7f8fa;
      border: 1px solid #3a90f2;
      border-top-width: 3px;
      border-bottom-color: #f7f8fa; }

.section .article,
.section .category {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  height: 50px;
  line-height: 50px;
  padding: 0 25px; }
  .section .article .article-info, .section .article .category-info,
  .section .category .article-info,
  .section .category .category-info {
    flex: 1 1 auto; }
    .section .article .article-info .title, .section .article .category-info .title,
    .section .category .article-info .title,
    .section .category .category-info .title {
      color: #333333; }
    .section .article .article-info .title:hover, .section .article .category-info .title:hover,
    .section .category .article-info .title:hover,
    .section .category .category-info .title:hover {
      text-decoration-line: underline; }
    .section .article .article-info .attach, .section .article .category-info .attach,
    .section .category .article-info .attach,
    .section .category .category-info .attach {
      color: #666666;
      font-size: 14px; }
  .section .article .operation,
  .section .category .operation {
    flex: 0 0 150px; }
    .section .article .operation li,
    .section .category .operation li {
      width: 50px;
      height: 25px;
      margin: 10px;
      line-height: 25px;
      text-align: center;
      font-size: 13px;
      border: solid 1px #3a90f2;
      border-radius: 5px;
      color: #3a90f2; }
      .section .article .operation li a,
      .section .category .operation li a {
        text-decoration: none;
        color: inherit; }
    .section .article .operation li:hover,
    .section .category .operation li:hover {
      background-color: #3a90f2;
      color: white; }
    .section .article .operation .delete,
    .section .category .operation .delete {
      border: solid 1px #ff6666;
      color: #ff6666; }
    .section .article .operation .delete:hover,
    .section .category .operation .delete:hover {
      background-color: #ff6666; }
.section .article:nth-child(even),
.section .category:nth-child(even) {
  background-color: #f5f5f5; }

#categories-list .category-info {
  display: flex;
  flex-flow: row; }
  #categories-list .category-info .name {
    flex: 0 0 25%; }
  #categories-list .category-info .parent {
    color: #333333;
    font-size: 15px;
    flex: 0 0 75%; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    margin: 20px auto; }
    .pagination ul li {
      margin: 0 5px;
      border: 1px solid #e7eaf1;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
      height: 30px;
      line-height: 30px;
      width: 40px;
      background-color: white;
      text-align: center; }
      .pagination ul li i {
        line-height: 30px;
        font-size: 20px; }

.delete-window-background,
.update-category-background,
.insert-category-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .delete-window-background .window,
  .update-category-background .window,
  .insert-category-background .window {
    background-color: white;
    width: 450px;
    margin: 200px auto auto; }
    .delete-window-background .window .title,
    .update-category-background .window .title,
    .insert-category-background .window .title {
      background-color: #F0F0F0;
      height: 35px;
      text-align: center;
      font-size: 17px;
      line-height: 35px; }
    .delete-window-background .window .content,
    .update-category-background .window .content,
    .insert-category-background .window .content {
      padding: 10px 25px;
      margin-bottom: 20px; }
      .delete-window-background .window .content #delete-name,
      .update-category-background .window .content #delete-name,
      .insert-category-background .window .content #delete-name {
        color: #3a90f2;
        font-size: 15px;
        cursor: pointer; }
    .delete-window-background .window .operation,
    .update-category-background .window .operation,
    .insert-category-background .window .operation {
      height: 26px;
      padding: 10px 25px; }
      .delete-window-background .window .operation div,
      .update-category-background .window .operation div,
      .insert-category-background .window .operation div {
        float: right;
        height: 24px;
        line-height: 24px;
        width: 65px;
        display: inline-block;
        font-size: 14px;
        border-radius: 5px;
        text-align: center;
        margin-left: 15px; }
      .delete-window-background .window .operation .cancel,
      .update-category-background .window .operation .cancel,
      .insert-category-background .window .operation .cancel {
        border: solid 1px #3a90f2;
        color: #3a90f2; }
      .delete-window-background .window .operation .cancel:hover,
      .update-category-background .window .operation .cancel:hover,
      .insert-category-background .window .operation .cancel:hover {
        cursor: pointer;
        background-color: #3a90f2;
        color: white; }
      .delete-window-background .window .operation .delete, .delete-window-background .window .operation .insert, .delete-window-background .window .operation .update,
      .update-category-background .window .operation .delete,
      .update-category-background .window .operation .insert,
      .update-category-background .window .operation .update,
      .insert-category-background .window .operation .delete,
      .insert-category-background .window .operation .insert,
      .insert-category-background .window .operation .update {
        border: solid 1px #ff6666;
        color: #ff6666; }
      .delete-window-background .window .operation .delete:hover, .delete-window-background .window .operation .insert:hover, .delete-window-background .window .operation .update:hover,
      .update-category-background .window .operation .delete:hover,
      .update-category-background .window .operation .insert:hover,
      .update-category-background .window .operation .update:hover,
      .insert-category-background .window .operation .delete:hover,
      .insert-category-background .window .operation .insert:hover,
      .insert-category-background .window .operation .update:hover {
        cursor: pointer;
        background-color: #ff6666;
        color: white; }

#insert-category-window .input-name, #insert-category-window .input-parent,
#update-category-window .input-name,
#update-category-window .input-parent {
  margin: 10px 25px;
  height: 30px;
  width: 400px;
  display: flex;
  flex-flow: row;
  line-height: 30px; }
  #insert-category-window .input-name > div, #insert-category-window .input-parent > div,
  #update-category-window .input-name > div,
  #update-category-window .input-parent > div {
    font-size: 14px;
    width: 75px;
    flex: 0 0 75px; }
  #insert-category-window .input-name input, #insert-category-window .input-name select, #insert-category-window .input-parent input, #insert-category-window .input-parent select,
  #update-category-window .input-name input,
  #update-category-window .input-name select,
  #update-category-window .input-parent input,
  #update-category-window .input-parent select {
    flex: 1 1 auto; }

/*# sourceMappingURL=manager.css.map */
